
@keyframes LoadingBar {
  0%  { transform: translateX(-102%) }
  45% { transform: translateX(0) }
  55% { transform: translateX(0) }
  90% { transform: translateX(102%) }
  100% { transform: translateX(102%) }
}

.loading-bar {
  display: block;
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 4px;
  overflow-x: hidden;
  background-color: #EF4657; /* use px color $primary-light */
}

.loading-bar:before {
  content: "";
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 102%;
  background-color: rgb(160, 0, 16); /* use px color $primary-default */
  animation: LoadingBar 1.5s cubic-bezier(.5,.01,.51,1) infinite;
}