body {
    color: #292929;
}

* {
    box-sizing: border-box;
  }

.form-control:focus , .custom-select:focus {
    border-color:#EF4657;
    outline:0;
    box-shadow:0 0 0 .2rem rgba(239,70,87,.25)
}
/* 
.form-control:focus , .custom-select:focus {
    border-color : transparent;
    outline:0;
    box-shadow: none;
}
 */

 a {
     color: #EF4657;
 }

 a:hover {
    color :#B00F1F;
 }


 .btn-link {
    color: #EF4657;
 }


 .btn-link:hover {
    color :#B00F1F;
 }

 .btn-findfix {
    color: #fff;
    background-image: none;
    background: #EF4657;  
    
  }
  
  .btn-findfix:hover, .btn-findfix:focus  {
    background: #EF4657;  /* fallback for old browsers */
    
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(239,70,87, 0.25);
  }
  

  .btn-outline-findfix {
    color: #EF4657;
    background-image: none;
    border: 1px solid #EF4657;  
    background: none;
  }
  
  .btn-outline-findfix:hover, .btn-outline-findfix:focus  {
    background: #EF4657;  /* fallback for old browsers */
    color: #fff;
    border: 1px solid #EF4657;  
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(239,70,87, 0.25);
  }

  .btn.disabled, .btn:disabled {
    opacity: .25;
}

  .forgot {
      min-height: 70vh;
      margin-top: 100px;
  }

  .forgot p {
      padding:20px 0;
  }


  .divider {
    width: 40px;
    height: 2px;
    background: #EF4657;
    margin-bottom: 20px;
  }
  