

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300i,400,400i,600i,700,800&subset=greek');


body {
    font-family: 'Open Sans', sans-serif;
}


h1 {
    font-weight: 600;
    font-size: 33px;
    line-height: 43px;
    /* letter-spacing: -25px; */
    color: #292929;
}

h2 {
    font-size: 29px;
    line-height: 38px;
    /* letter-spacing: -25px; */
    color: #292929;
}

h3 {
    font-size: 25px;
    line-height: 33px;
    /* letter-spacing: -25px; */
    color: #292929;
 
}

h4 {
    font-size: 21px;
    line-height: 30px;
    letter-spacing: 0px;
    color: #292929;
}
h5 {
    font-size: 13px;
    line-height: 21px;
    /* letter-spacing: -25px; */
    color: #292929
}


p {
    font-size: 13px;
    line-height: 21px;
    letter-spacing: 0px;
    color: #292929;
    margin: 0;
}
