
.search {
    max-width: 720px;
     margin: 0 auto;
    background-color: rgb(255, 255, 255);
    box-shadow: rgba(33, 36, 41, 0.08) 0px 1px 4px, rgba(33, 36, 41, 0.1) 0px 8px 32px;
    padding: 0px 16px;
    border-radius: 38px;
    border-width: 1px;
    border-style: solid;
    border-color: rgb(221, 223, 224);
    border-image: initial;
    overflow: hidden;
    width: auto;
}

.search label {
    font-size: 10px;
}

.search .form-control {
    border :none;
    padding: 0;

}

.search .locate {
        display: inline-block;
        font-size: 12px;
        text-align: center;
        font-weight: 500;
        line-height: 1em;
        letter-spacing: normal;
        cursor: pointer;
        touch-action: manipulation;
        user-select: none;
        /* white-space: nowrap; */
        color: rgb(255, 255, 255);
        background-color: #EF4657;
        box-shadow: rgba(160, 0, 16, 0.15) 0px 2px 4px 0px, rgba(160, 0, 16, 0.1) 0px 8px 8px 0px;
        padding: 12px 24px;
        border-width: 0px;
        border-style: initial;
        border-color: initial;
        border-image: initial;
        border-radius: 22px;
        transition: color 200ms ease-in-out 0s;
        margin-top: 1rem;
    
}

.locate { 
    width: 150px;
    height: 50px;
}

.locate button:focus {
    border-color : none !important;
    outline:0;
    box-shadow: none !important;
}


.search-form-control {
    margin-top: 30px;
}
.search-form-control:focus  {
    border-color : none !important;
    outline:0;
    box-shadow: none !important;
}


@media only screen and (max-width: 600px) {
    .search-form-control {
      text-align: center !important;
      margin-top: 20px;
    }

    .locate {
        width: 100% !important;
    }
  }
  