
.address {
    min-width: 260px;
    background-color: rgb(255, 255, 255);
    /* box-shadow: rgba(33, 36, 41, 0.08) 0px 1px 4px, rgba(33, 36, 41, 0.1) 0px 8px 32px; */
    padding: 0px 4px;
    border-width: 1px;
    border-radius: 4px;
    border-style: solid;
    border-color: rgb(221, 223, 224);
    border-image: initial;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 2px 4px !important;
}

.address label {
    font-size: 10px;
}

.address .form-control {
    border :none;
    padding: 0;
}


.form-control#address:focus {
    border: #EF4657;
}

