.footer {

        background: #292929;
        color: #fff;
        padding: 0 20px;
        min-height: 100px;

    }

 .footer-logo {

    display: flex;
    color: #fff;
    height: 66px;
    font-size: 24px;
    padding:  20px 0;

 }

 .social-icons {
     margin-left: 20px;
 }

 .social-icons a{
    color: #fff;
    margin:4px;
    height: 40px;
 }

 