    /*
    Flaticon icon font: Flaticon
    Creation date: 21/12/2018 06:18
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-help:before { content: "\f100"; }
.flaticon-wrench:before { content: "\f101"; }
.flaticon-pin:before { content: "\f102"; }
.flaticon-mailbox:before { content: "\f103"; }
.flaticon-mail:before { content: "\f104"; }
.flaticon-internet:before { content: "\f105"; }
.flaticon-call:before { content: "\f106"; }
.flaticon-shopper:before { content: "\f107"; }
.flaticon-box:before { content: "\f108"; }
.flaticon-zzz:before { content: "\f109"; }
.flaticon-pc:before { content: "\f10a"; }
.flaticon-laptop:before { content: "\f10b"; }
.flaticon-house:before { content: "\f10c"; }
.flaticon-smartphone:before { content: "\f10d"; }
.flaticon-tablet:before { content: "\f10e"; }
.flaticon-print:before { content: "\f10f"; }
.flaticon-tablet-1:before { content: "\f110"; }
.flaticon-console:before { content: "\f111"; }
.flaticon-map:before { content: "\f112"; }
.flaticon-gear:before { content: "\f113"; }
.flaticon-star:before { content: "\f114"; }
.flaticon-heart:before { content: "\f115"; }
    
    $font-Flaticon-help: "\f100";
    $font-Flaticon-wrench: "\f101";
    $font-Flaticon-pin: "\f102";
    $font-Flaticon-mailbox: "\f103";
    $font-Flaticon-mail: "\f104";
    $font-Flaticon-internet: "\f105";
    $font-Flaticon-call: "\f106";
    $font-Flaticon-shopper: "\f107";
    $font-Flaticon-box: "\f108";
    $font-Flaticon-zzz: "\f109";
    $font-Flaticon-pc: "\f10a";
    $font-Flaticon-laptop: "\f10b";
    $font-Flaticon-house: "\f10c";
    $font-Flaticon-smartphone: "\f10d";
    $font-Flaticon-tablet: "\f10e";
    $font-Flaticon-print: "\f10f";
    $font-Flaticon-tablet-1: "\f110";
    $font-Flaticon-console: "\f111";
    $font-Flaticon-map: "\f112";
    $font-Flaticon-gear: "\f113";
    $font-Flaticon-star: "\f114";
    $font-Flaticon-heart: "\f115";