	/*
  	Flaticon icon font: Flaticon
  	Creation date: 21/12/2018 06:18
  	*/

@font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 1em;
font-style: normal;
margin-right: 6px;
}

.flaticon-help:before { content: "\f100"; }
.flaticon-wrench:before { content: "\f101"; }
.flaticon-pin:before { content: "\f102"; }
.flaticon-mailbox:before { content: "\f103"; }
.flaticon-mail:before { content: "\f104"; }
.flaticon-internet:before { content: "\f105"; }
.flaticon-call:before { content: "\f106"; }
.flaticon-shopper:before { content: "\f107"; }
.flaticon-box:before { content: "\f108"; }
.flaticon-zzz:before { content: "\f109"; }
.flaticon-pc:before { content: "\f10a"; }
.flaticon-laptop:before { content: "\f10b"; }
.flaticon-house:before { content: "\f10c"; }
.flaticon-smartphone:before { content: "\f10d"; }
.flaticon-tablet:before { content: "\f10e"; }
.flaticon-print:before { content: "\f10f"; }
.flaticon-tablet-1:before { content: "\f110"; }
.flaticon-console:before { content: "\f111"; }
.flaticon-map:before { content: "\f112"; }
.flaticon-gear:before { content: "\f113"; }
.flaticon-star:before { content: "\f114"; }
.flaticon-heart:before { content: "\f115"; }